:root {
  --dl-color-iris-60: rgba(165, 166, 246, 1);
  --dl-color-iris-80: rgba(120, 121, 241, 1);
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-iris-100: rgba(93, 95, 239, 1);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-fuschia-60: rgba(252, 221, 236, 1);
  --dl-color-fuschia-80: rgba(241, 120, 182, 1);
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-fuschia-100: rgba(239, 93, 168, 1);
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-color-storybird.com-alto: rgba(214, 214, 214, 1);
  --dl-color-storybird.com-gray: rgba(127, 127, 127, 1);
  --dl-color-storybird.com-nero: rgba(255, 255, 255, 1);
  --dl-color-storybird.com-abbey: rgba(79, 80, 84, 1);
  --dl-color-storybird.com-black: rgba(255, 0, 0, 1);
  --dl-color-storybird.com-polar: rgba(233, 248, 251, 1);
  --dl-color-storybird.com-nero02: rgba(255, 255, 255, 0.0020000000949949026);
  --dl-color-storybird.com-nero80: rgba(255, 255, 255, 0.800000011920929);
  --dl-color-storybird.com-silver: rgba(199, 199, 199, 1);
  --dl-color-storybird.com-viking: rgba(105, 197, 218, 1);
  --dl-color-storybird.com-black15: rgba(0, 0, 0, 0.15000000596046448);
  --dl-color-storybird.com-black80: rgba(0, 0, 0, 0.800000011920929);
  --dl-color-storybird.com-gallery: rgba(238, 238, 238, 1);
  --dl-color-storybird.com-iceberg: rgba(216, 238, 243, 1);
  --dl-color-storybird.com-scooter: rgba(39, 193, 221, 1);
  --dl-color-storybird.com-tuatara: rgba(59, 59, 58, 1);
  --dl-color-storybird.com-tundora: rgba(64, 64, 64, 1);
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-storybird.com-cerulean: rgba(0, 179, 217, 1);
  --dl-color-storybird.com-concrete: rgba(243, 243, 243, 1);
  --dl-color-storybird.com-corduroy: rgba(96, 120, 108, 1);
  --dl-color-storybird.com-dovegray: rgba(102, 102, 102, 1);
  --dl-color-storybird.com-kangaroo: rgba(204, 204, 192, 1);
  --dl-color-storybird.com-seashell: rgba(241, 241, 241, 1);
  --dl-color-storybird.com-shamrock: rgba(72, 203, 146, 1);
  --dl-color-storybird.com-silver60: rgba(190, 190, 190, 0.6000000238418579);
  --dl-color-storybird.com-wildsand: rgba(244, 244, 244, 1);
  --dl-color-storybird.com-codgray80: rgba(23, 23, 23, 0.800000011920929);
  --dl-color-storybird.com-mineshaft: rgba(48, 48, 48, 1);
  --dl-color-storybird.com-bahamablue: rgba(4, 97, 148, 1);
  --dl-color-storybird.com-pictonblue: rgba(58, 197, 226, 1);
  --dl-color-storybird.com-sherpablue: rgba(255, 78, 78, 1);
  --dl-color-storybird.com-easternblue: rgba(29, 139, 175, 1);
  --dl-color-storybird.com-shakespeare: rgba(93, 178, 205, 1);
  --dl-color-storybird.com-silverchalice: rgba(165, 165, 165, 1);
  --dl-color-storybird.com-linearblackscooter: rgba(0, 0, 0, 1);
  --dl-color-storybird.com-linearneroathensgray: rgba(255, 255, 255, 1);
  --dl-color-storybird.com-linearvikinghippieblue: rgba(117, 190, 218, 1);
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Header1 {
  font-size: 34px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700px;
  font-stretch: normal;
}
.Header2 {
  font-size: 20px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 700px;
  font-stretch: normal;
}
.Body {
  font-size: 13px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold40 {
  font-size: 40px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold28 {
  font-size: 28px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold36 {
  font-size: 36px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold281 {
  font-size: 28px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold24 {
  font-size: 24px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold34 {
  font-size: 34px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaRegular21 {
  font-size: 21px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold12\.03 {
  font-size: 12.03125px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaRegular9\.6 {
  font-size: 9.600000381469727px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaItalic16 {
  font-size: 16px;
  font-style: italic;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaItalic22 {
  font-size: 22px;
  font-style: italic;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold18 {
  font-size: 18px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaItalic21 {
  font-size: 21px;
  font-style: italic;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaRegular16 {
  font-size: 16px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaRegular12 {
  font-size: 12px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaRegular14 {
  font-size: 14px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold20 {
  font-size: 20px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold5\.76 {
  font-size: 5.760000228881836px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold5\.761 {
  font-size: 5.760001182556152px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold5\.762 {
  font-size: 5.7600016593933105px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold5\.763 {
  font-size: 5.760002613067627px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold11\.2 {
  font-size: 11.199999809265137px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold11\.21 {
  font-size: 11.20000171661377px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold11\.22 {
  font-size: 11.200003623962402px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold11\.23 {
  font-size: 11.200005531311035px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comGeorgiaBold401 {
  font-size: 40px;
  font-style: normal;
  font-family: Georgia;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialBold16 {
  font-size: 16px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialBold28 {
  font-size: 28px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialBold24 {
  font-size: 24px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialBold49\.61 {
  font-size: 49.609375px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialNarrow20 {
  font-size: 20px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow16 {
  font-size: 16px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow15\.5 {
  font-size: 15.5px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow14 {
  font-size: 14px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow25 {
  font-size: 25px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow141 {
  font-size: 14px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow18 {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow161 {
  font-size: 16px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialNarrow181 {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comArialBold21 {
  font-size: 21px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialBold18 {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialBold14 {
  font-size: 14px;
  font-style: normal;
  font-family: Arial;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comArialNarrow182 {
  font-size: 18px;
  font-style: normal;
  font-family: Arial;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comRobotoMedium16 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.storybird\.comRobotoRegular18 {
  font-size: 18px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comRobotoMedium14 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
}
.storybird\.comComicSansMSRegular14\.7 {
  font-size: 14.699999809265137px;
  font-style: normal;
  font-family: Comic Sans MS;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comInterBold18upper {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterBold14upper {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterBold13\.78upper {
  font-size: 13.78125px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterBold16 {
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterBold14 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterRegular16\.03underline {
  font-size: 16.03125px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comInterRegular15\.33underline {
  font-size: 15.328125px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comInterRegular15\.05underline {
  font-size: 15.046875px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comInterSemiBold16\.17 {
  font-size: 16.171875px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterRegular15\.75 {
  font-size: 15.75px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comInterSemiBold18\.75 {
  font-size: 18.75px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
.storybird\.comInterRegular15\.33 {
  font-size: 15.328125px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
}
.storybird\.comInterSemiBold19\.38 {
  font-size: 19.375px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700px;
  font-stretch: normal;
}
